server:
  port: 8080
spring:
  application.name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          # ******** DEFINIR LAS RUTAS DE CADA MICROSERVICIO UNA VEZ ESTE CREADO *********
          routes:
            - id: products
              uri: http://localhost:8082
              predicates:
                - Path=/api/products/**
              filters:
                - StripPrefix=1

            # Microservicio de Motel Management - Motels
            - id: motel-management-motels
              uri: http://localhost:8084
              predicates:
                - Path=/api/motels/**
              filters:
                - StripPrefix=0

            # Microservicio de Motel Management - Rooms
            - id: motel-management-rooms
              uri: http://localhost:8084
              predicates:
                - Path=/api/rooms/**
              filters:
                - StripPrefix=0

            # Microservicio de Motel Management - Services
            - id: motel-management-services
              uri: http://localhost:8084
              predicates:
                - Path=/api/services/**
              filters:
                - StripPrefix=0

            # Microservicio de Booking Service - Reservas
            - id: booking-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/bookings/**
              filters:
                - StripPrefix=0

          trusted-proxies: '127\.0\.0\.1|::1'

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics"
